[submodule "libs/whisper-cpp"]
	path = libs/whisper-cpp
	url = https://github.com/ggerganov/whisper.cpp
[submodule "docs/doxygen-awesome-css"]
	path = docs/doxygen-awesome-css
	url = https://github.com/jothepro/doxygen-awesome-css
[submodule "libs/subprocess"]
	path = libs/subprocess
	url = https://github.com/benman64/subprocess
[submodule "libs/SQLiteCpp"]
	path = libs/SQLiteCpp
	url = https://github.com/SRombauts/SQLiteCpp
[submodule "libs/bark-cpp"]
	path = libs/bark-cpp
	url = https://github.com/vietanhdev/bark.cpp
